<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="block left">
                    <a href="#"><img src=".../../../../../assets/images/logo.png" width="175"></a>
                    <a class="back">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block center">
                    <ul>
                        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
                        <li routerLinkActive="active"><a routerLink="/about">About Us</a></li>
                        <li routerLinkActive="active"><a routerLink="/gallery">Gallery</a></li>
                        <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
                        <li routerLinkActive="active"><a routerLink="/services">Services</a></li>
                        <li routerLinkActive="active"><a routerLink="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block right">
                    <div class="contact-details">
                        <a href="mailto:uxtrendz@email.com"><i class="fas fa-envelope"></i> uxtrendz@email.com</a>
                        <a href="mailto:uxtrendz@email.com"><i class="fas fa-phone"></i> 000 (123) 456 78 90</a>
                    </div>
                    <button class="btn btn-outline-primary">Sign In</button>
                    <ul>
                        <li>
                            Welcome <strong class="text-primary">Aleem</strong>
                        </li>
                        <li>
                            <a><i class="fas fa-unlock"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>