<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="block left">
                    <a href="#"><img src=".../../../../../assets/images/logo.png" width="175"></a>
                    <a class="back" routerLink="{{goBackLink.url}}" *ngIf="goBackLink.text">
                        <i class="lefticon"></i>{{goBackLink.text}}
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="block center">
                    <app-menu *ngIf="headerNav"></app-menu>
                </div>
            </div>

            <div class="col-md-3">
                <div class="block right">
                    <div class="langChange">
                        <ul>
                            <li>
                                <a routerLink="">DE</a>
                            </li>
                            <li>
                                <a routerLink="">EN</a>
                            </li>
                        </ul>
                    </div>
                    <ng-container *ngIf="headerLoginBlock">
                        <button *ngIf="!loggedInUser" routerLink="/login" class="btn btn-outline-primary">Sign
                            In</button>
                        <ul *ngIf="loggedInUser">
                            <li>
                                Welcome <strong class="text-primary">{{loggedInUser}}</strong>
                            </li>
                            <li>
                                <a (click)="onLogout()"><i class="fas fa-unlock"></i> Logout</a>
                            </li>
                        </ul>
                    </ng-container>
                    <div class="contact-details" *ngIf="headerContactDetails">
                        <a href="mailto:uxtrendz@email.com"><i class="fas fa-envelope"></i> uxtrendz@email.com</a>
                        <a href="mailto:uxtrendz@email.com"><i class="fas fa-phone"></i> 000 (123) 456 78 90</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>